anyio==4.6.2.post1
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
exceptiongroup==1.2.2
fastapi==0.81.0
flatbuffers==24.3.25
h11==0.14.0
humanfriendly==10.0
idna==3.10
joblib==1.4.2
mpmath==1.3.0
numpy==1.24.0
onnx==1.17.0
onnxconverter-common==1.14.0
onnxruntime==1.12.1
packaging==24.2
Pillow==9.2.0
pip==24.2
protobuf==3.20.2
pydantic==1.10.19
pyreadline3==3.5.4
python-multipart==0.0.5
scikit-learn==1.1.2
scipy==1.13.1
setuptools==75.1.0
six==1.16.0
skl2onnx==1.12
sniffio==1.3.1
starlette==0.19.1
sympy==1.13.3
threadpoolctl==3.5.0
typing_extensions==4.12.2
uvicorn==0.32.0
wheel==0.44.0